
[Interface]
PrivateKey = {{ wg_local['priv_key']}}
ListenPort = {{ wg_local['port'] }}
Address = {{ wg_local['address'] }}

[Peer]
PublicKey = {{ wg_peer['pub_key'] }}
{% if not wg_peer['server_mode'] %}
Endpoint = {{ wg_peer['name']}}:{{ wg_peer['port'] }}
{% endif %}
{% if not wg_peer['networks'] is none %}
AllowedIPs = {{wg_peer['address']}}, {{wg_peer['networks'] | join(", ")}}
{% else %}
AllowedIPs = {{wg_peer['address']}}
{% endif %}
