
[Interface]
PrivateKey = {{ wg_local['priv_key']}}
ListenPort = {{ wg_local['port'] }}
Address = {{ wg_local['address'] }}

[Peer]
PublicKey = {{ wg_peer['pub_key'] }}
{% if not wg_peer['server_mode'] %}
Endpoint = {{ wg_peer['name']}}:{{ wg_peer['port'] }}
{% endif %}
AllowedIPs = 192.168.122.0/24, 172.16.1.3/32



"client"
Interface]
PrivateKey = gOyV57dX3pnJCjt++zCG09Hh7VtWyOipsOUlOWAbcGk=
ListenPort = 21841
Address = 172.16.1.2

[Peer]
PublicKey = zoI3que5tfRxRbkLDRPPiQ/mL1G6Ibsoic6KlyrkyHE=
Endpoint = beast-vagrant-proxy:51820
AllowedIPs = 192.168.122.0/24, 172.16.1.3/32

"server"
[Interface]
PrivateKey = qPRMTii+j+dle1E3myJAHb8TLkqp7hGQGZ5PHvgqDH8=
ListenPort = 51820
Address = 172.16.1.3

[Peer]
PublicKey = bL81lzaJ0UQfVgCql+hKjGhUSSHVOaFwKgTypjRD0CQ=
#AllowedIPs = 10.0.20.0/24, 10.0.1.0/24, 172.16.1.2
AllowedIPs = 172.16.1.2
